 /* hide default "x" in input */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* background color */
html {
    background-color:#ebd4b5;
}

/* default font + no highlighting */
* {
    color: rgb(50, 50, 50);
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* link bar */
div#linkBar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

/* tab links */
button.link {
    background: white;
    border: none;
    float: left;
    font-size: 20px;
    padding: 12px;
    padding-right: 8px;
    margin-bottom: 20px;
}

/* close tab button */
span.close {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px;
    border-radius: 50%;
    margin-left: 8px;
}

/* new link button */
span#newTab {
    font-size: 26px;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
}

/* list name */
h1#listName {
    font-size: 30px;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
}

/* input + add button */
div#addBar {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* input */
input.input {
    font-size: 17px;
    display: inline-block;
    padding: 5px;
    border: none;
    margin-left: auto;
    width: 83%;
}

/* no outline when typing */
h1#listName:focus, input:focus {
    outline: none;
}

/* add button */
span.add {
    font-size: 17px;
    text-align: center;
    background: white;
    display: inline-block;
    padding: 5px;
    margin-right: auto;
    margin-left: 4px;
    width: 15%;
}

/* list */
ul {
    font-size: 20px;
    width: 400px;
    height: 480px;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
}

/* items */
li {
    position: relative;
    padding: 8px 0px 8px 35px;
    transition: 0.2s;
    min-height: 41px;
    word-wrap: break-word;
    white-space: pre-line;
}

/* delete button */
span.delete {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* checked item */
li.checked {
    background: #dfc39d;
    text-decoration: line-through;
}

/* checkmark for checked item */
li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 8px;
    left: 13px;
    transform: rotate(45deg);
    height: 16px;
    width: 7px;
}

/* pointer cursor */
button.link, span#newTab, h1#listName, span.add, li {
    cursor: pointer;
}

/* transition */
button.link, span#newTab, span.add, span.delete {
    transition: 0.2s;
}

/* darker buttons when hovering */
button.link:hover, h1#listName:hover, span#newTab:hover, span.add:hover, li:hover {
    background: #d4b68b;
}

/* even darker buttons when hovering/active */
button.active, span.close:hover, span.delete:hover {
    background: #c5a77e;
}